DB_NAME=
DB_USERNAME=
DB_PASSWORD=
PORT=8080
SESSION_SECRET=

stripePublicKey=pk_test_51IYufTH5HYrxAaNisiluPcgg6cYuouVxUoUvGabUWmaLPLJdvGcPdBR7A2JZOnM7GYiZ1hdrXN9g9HB4CBudwprY00rnmledej

stripeSecretKey=sk_test_51IYufTH5HYrxAaNikmrUioLe50e7c6P16XJYyUp7125zSXTgnbbjP73LBAFArgNWtv4zVqMaYmN0iqNPEllb0Nmp00ZXDSdeVW