<div class="login-wrapper">
    <div class="container d-flex justify-content-center">
        <form class="loginbox" action="/login" method="post">
            <div>
                <h2>LOGIN</h2>
            </div>
            <div class="mb-3 login-form d-flex justify-content-center">
                <input class="login-field" type="text" name="username" placeholder="User Name" />
            </div>
            <div class="mb-3 login-form d-flex justify-content-center">
                <input class="login-field" type="password" name="password" placeholder="Password" />
            </div>
            <div class="mb-3 login-form d-flex justify-content-center">
                <input class="btn btn-primary login-btn" type="submit" value="Log In" />
            </div>
            <div class="signup-field">
                <p class="field-text">Don't have an account? <a class="signup-link" href="/signup">Sign Up</a></p>
                {{!-- <input class="btn signup-link" type="button" value="Sign Up" /> --}}
            </div>
        </form>
    </div>
</div>