<div class="container wrapper d-flex loginbox">
<form action="/login" method="post">
   <div>
    <h1>LOGIN</h1>
    </div>
    <div class="mb-3">
        <input type="text" name="username" placeholder="User Name"/>
    </div>
    <div class="mb-3">
        <input type="password" name="password" placeholder="Password"/>
    </div>
    <div class="mb-3">
        <input class="btn btn-primary" type="submit" value="Log In"/>
    </div>
    <div>
        <a href="/signup"><input class="btn btn-link" type="button" value="Sign Up"/></a>
    </div>
</form>
</div>