<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <form action="/profile/upload1" enctype="multipart/form-data" method="POST">
        <div class="row flex-lg-nowrap">
            <div class="col mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="e-profile">
                            <div class="row">

                                {{!-- <div class="col-12 col-sm-auto mb-3">
                                    <div class="mx-auto" style="width: 140px;">
                                        <div class="d-flex justify-content-center align-items-center rounded"
                                            style="height: 140px; background-color: rgb(233, 236, 239);">
                                            <span
                                                style="color: rgb(166, 168, 170); font: bold 8pt Arial;">140x140</span>
                                        </div>
                                    </div>
                                </div> --}}
                                <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                    <div class="text-center text-sm-left mb-2 mb-sm-0">
                                        <p class="pt-sm-2 pb-1 mb-0 ml-2" style="font-size:30px">
                                            Editing User: <b style="color: #ffbe08">{{username}}</b>
                                        </p>
                                        <div class="mt-2">
                                            <input type="file" id="fileid" name="profileimageupload" accept="IMAGE/JPG"
                                                , "IMAGE/PNG" , "IMAGE/JPEG" / hidden>
                                            <br />
                                            <label for="fileid" id="buttonid"
                                                class="btn btn-primary btn btn-outline-warning mb-3" type="button">
                                                <i class="fa fa-fw fa-camera"></i>

                                                <span>Change Profile Photo</span>
                                            </label>
                                            <p id="name-propic"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>Favourite Genres (choose More Than 1)</label><br>
                                        <select class="fav-genres js-states form-control" id="id_label_multiple"
                                            multiple="multiple" placeholder="Choose from the following">
                                            <option>Action</option>
                                            <option>Adventure</option>
                                            <option>Animation</option>
                                            <option>Comedy</option>
                                            <option>Crime</option>
                                            <option>Documentary</option>
                                            <option>Drama</option>
                                            <option>Family</option>
                                            <option>Fantasy</option>
                                            <option>History</option>
                                            <option>Horror</option>
                                            <option>Music</option>
                                            <option>Mystery</option>
                                            <option>Romance</option>
                                            <option>Science Fiction</option>
                                            <option>TV Movie</option>
                                            <option>Thriller</option>
                                            <option>War</option>
                                            <option>Western</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>Favourite Movie of All Time</label><br>
                                        <input class="typeahead1 form-control me-2" type="search" placeholder="Search"
                                            aria-label="Search" name="search">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>Tell Us Why It Is Your Favourite</label>
                                        <textarea class="form-control introduce-area" rows="5"
                                            placeholder=""></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <p>Add 2 of Your Favourite Movie Scenes to Your Profile</p>
                {{!-- screenshot0 --}}
                <br />
                <label for="screenshotpic0" id="buttonid1" class="btn btn-primary btn btn-outline-warning mb-3"
                    type="button">
                    <i class="fa fa-fw fa-camera"></i>
                    <span>Photo 1</span>
                </label>
                <p id="name-screenshotpic0"></p>
                {{!-- <br /><br /> --}}
                <input type="file" id="screenshotpic0" name="screenshot0" accept="IMAGE/JPG" , "IMAGE/PNG"
                    , "IMAGE/JPEG" /hidden>
                <br />
                {{!-- screenshot 1 --}}
                <label for="screenshotpic1" id="buttonid2" class="btn btn-primary btn btn-outline-warning mb-3"
                    type="button">
                    <i class="fa fa-fw fa-camera"></i>
                    <span>Photo 2</span>
                </label>
                <p id="name-screenshotpic1"></p>
                {{!-- <br /> --}}
                <input type="file" id="screenshotpic1" name="screenshot1" accept="IMAGE/JPG" , "IMAGE/PNG"
                    , "IMAGE/JPEG" /hidden>
                {{!-- <br /> --}}
                <input class="screenshot-upload-btn" type="submit" value="Upload" / hidden>
                <button class="screenshot-del-btn" hidden>DELETE</button>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col d-flex justify-content-end">
                    <button type="button" class="update-btn btn btn-primary btn btn-outline-warning"
                        data-userid="{{userid}}">Save Changes</button>
                </div>
            </div>
        </div>

    </form>
</div>