<div class="container-fluid">
    <label>Profile Picture</label>
    <form action="/profile/upload" enctype="multipart/form-data" method="POST">
        <input type="file" name="imageupload" accept="IMAGE/JPG" , "IMAGE/PNG" /> <br /><br />
        <input type="submit" value="Submit" />
    </form>
    <br><br><br>

    <label>Favourite Genres</label>
    <select class="favGenres js-states form-control" id="id_label_multiple" multiple="multiple">
        <option>Action</option>
        <option>Adventure</option>
        <option>Animation</option>
        <option>Comedy</option>
        <option>Crime</option>
        <option>Documentary</option>
        <option>Drama</option>
        <option>Family</option>
        <option>Fantasy</option>
        <option>History</option>
        <option>Horror</option>
        <option>Music</option>
        <option>Mystery</option>
        <option>Romance</option>
        <option>Science Fiction</option>
        <option>TV Movie</option>
        <option>Thriller</option>
        <option>War</option>
        <option>Western</option>
    </select>
    <br><br><br>

    <label>Favourite Movie</label>
    <select class="favMovie"></select>
    

</div>