{{!-- <div class="signup-wrapper">
    <div class="container d-flex justify-content-center"> --}}
        <form class="signupbox" action="/signup" method="post">
            <div class='login-text text-center'>
                <h1>SIGN UP</h1>
            </div>
            <div class="mb-3 signup-form d-flex justify-content-center">
                <input class="signup-field" type="text" name="username" placeholder="New User Name" />
            </div>
            <div class="mb-3 signup-form d-flex justify-content-center">
                <input class="signup-field" type="password" name="password" placeholder="New Password" />
            </div>
            <div class="mb-3 signup-form d-flex justify-content-center">
                <input class="btn btn-success signup-btn" type="submit" value="Submit" />
            </div>
        </form>
        {{!--
    </div>
</div> --}}