.error-wrapper {
  background-color: black;
}

.error-div {
  min-height: 100vh;
  margin: 0px auto;
  width: auto;
  max-width: 460px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Press Start 2P", cursive;
  color: white;
}
