.profile-pic {
  /* width: 200px;
  height: auto; */
  border-radius: 50%;
  object-fit: cover;
}

/* .edit-container {
  
} */
.profile-pic-container {
  /* width: 300px;
  height: 300px; */
  border-radius: 100px;
  padding: 20px;
}

.screenshot-pic {
  width: 680px;
  height: 480px;
  padding: 20px;
  object-fit: cover;
}

.user-container {
  margin: 20px;
}

.profile-row1 {
  max-width: 300px;
}
