.profile-pic {
  border-radius: 50%;
  object-fit: cover;
  border: 10px solid rgb(255, 255, 255);
}

/* .edit-container {

} */
.profile-pic-container {
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
  width: 200px;
  height: 200px;
  border: 5px;
  justify-content: center;
}

.profile-pic-col {
  /* width: 300px;
  height: 300px; */
  border-radius: 100px;
  padding: 20px;
}

.screenshot-pic {
  width: 680px;
  height: 300px;
  padding: 20px;
  object-fit: cover;
}

.user-container {
  margin: 20px;
}

.profile-row1 {
  /* max-width: 300px; */
  width: 80%;
  max-width: 300px;
}

/* Profile upload image */
/* body {
  margin-top: 20px;
  background: #f8f8f8;
} */
