.profile-pic {
  /* width: 200px; */
  object-fit: cover;
}

.profile-pic-container {
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
}

.profile-pic-col {
  padding: 20px;
}

.screenshot-pic {
  width: 680px;
  height: 480px;
  padding: 20px;
  object-fit: cover;
}

.user-container {
  margin: 20px;
}

.profile-row1 {
  /* max-width: 300px; */
  width: 80%;
}
