.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.profile-pic-container {
  /* width: 300px;
  height: 300px; */
  border-radius: 100px;
  margin: 20px;
}

.screenshot-pic {
  width: 680px;
  height: 480px;
  padding: 20px;
}

.user-container {
  margin: 20px;
}
