/* .my-review{
    display: none;
} */
/* Main layout */
h2 .writerev {
  color: #000;
  font-size: 26px;
  font-weight: 300;
  text-align: left;
  text-transform: uppercase;
  position: relative;
  margin: 30px 0px;
}

.hidden {
  display: none;
}

.info-container {
  max-width: 70%;
  flex-direction: column;
}

.poster-container {
  text-align: center;
}

.poster-container img {
  width: 75%;
  height: auto;
  border-radius: 3px;
}

.textSpacing {
  line-height: 1.6;
}

.star-rating i {
  font-size: 14px;
  color: #ffc000;
}

.reviews {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 600px;
  text-align: center;
}

.review {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 3px;
  padding-top: 3px;
  float: left;
}

.review-title {
  float: left;
  padding: 20px;
}

.review_star {
  padding-bottom: 2rem;
  clear: both;
  text-align: center;
}

.review-title {
  text-align: left;
}

.review col-12 {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* star rating */
fieldset,
label {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.5em;
  margin: 10px;
}

.radio-inline {
  padding-right: 5px;
}

/****** Style Star Rating Widget *****/
h1[alt="Simple"] {
  color: white;
}

/* body {
  background: #4a4a4c !important;
} */

.starrating > input {
  display: none;
} /* Remove radio buttons */

.starrating > label:before {
  content: "\f005"; /* Star */
  margin: 2px;
  font-size: 1.5em;
  font-family: FontAwesome;
  display: inline-block;
}

.starrating > label {
  color: #575757; /* Start color when not clicked */
}

.starrating > input:checked ~ label {
  color: #ffca08;
} /* Set yellow color when star checked */

.starrating > input:hover ~ label {
  color: #ffca08;
} /* Set yellow color when star hover */

/* review div */
.article {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgba(255, 255, 255, 0.85);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.37rem;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgba(255, 255, 255, 0.37);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.37rem;
  padding: 1rem;
  margin-top: 15px;
}

.own-review {
  border: #ffc000 2px solid;
}

.starrating > input:hover ~ label {
  color: #ffca08;
} /* Set yellow color when star hover */

h5 {
  text-align: center;
  margin-top: 12px;
}

.review-watchlist-add-style {
  color: #fff;
  background: #ffbe08 !important;
  border-radius: 3px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  background: none;
  border: 1px solid #ccc;
  padding: 7px 30px;
  margin-top: 10px;
  line-height: 16px;
  background-color: #7575752d;
}

.review-watchlist-add-style i {
  margin-left: 5px;
}

.review-watchlist-add-style:hover {
  color: #000;
  background: #ccc !important;
  border-color: #ccc !important;
  box-shadow: none;
}
