.row {
  height: auto;
}

.search-row {
  height: auto;
}

.search-sorting-option ul {
  text-align: center;
}

.search-sorting-option li {
  display: inline-block;
  list-style: none;
  line-height: 50px;
}

.search-sorting-option li::after {
  padding-right: 10px;
  padding-left: 10px;
  content: "|";
  float: right;
}

.search-sorting-option li:last-child::after {
  display: none;
}

.search_card_poster {
  position: relative;
}

.hidden {
  display: none;
}

.search-liked-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  right: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #84878d;
  opacity: 0.9;
}

.search-liked-btn i {
  font-size: 30px;
  color: #ffc000;
}

.search-add-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  right: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #84878d;
  opacity: 0.9;
}

.search-add-btn i {
  font-size: 30px;
  color: #ffc000;
}
