/* //global style */
body {
  background-color: #fff;
  background-image: url();
  background-position: top center;
  background-repeat: no-repeat;
  color: #84878d;
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: normal; }

.main-content .container {
  background: rgb(236, 236, 236);
  border-radius: 5px;
  padding: 30px; }

  .carousel-nav-icon {
    height: 48px;
    width: 48px;
 }
 .carousel-item .col, .col-sm, .col-md{
       margin: 8px;
       height: 300px;
       background-size: cover;
       background-position: center center;
    }

/* html,
body {
  height: 100%;
  margin: 0;
}

h3 {
  font-family: "Lobster", cursive;
}

nav {
  background-color: #f5c518;
}

.wrapper { */
  /* min-height: calc(100vh - 136px); */
  /* padding: 40px 3%;
}

.footer {
  height: 80px;
  text-align: center;
  padding: 3px;
  background-color: teal;
  color: white;
}

.navbar-brand {
  margin-left: 80px;
  font-size: 22px;
  font-weight: bolder;
  color: black;
}

.cards {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  vertical-align: center;
  align-items: center;
  text-align: center;
  border-radius: 13px;
  width: 95%;
}

.loginbox {
  vertical-align: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 13px;
  border: teal 3px solid;
  max-width: 40%;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 100px 0px;
}

@media (max-width: 750px) {
  .loginbox {
    max-width: 80%;
  }
}

.col {
  background-color: rgb(139, 222, 224);
  border-radius: 13px;
  margin: 15px;
  padding: 20px;
}

.deletebtn {
  margin-left: 20px;
}

.logoutbtn {
  width: 80px;
}

/* typeahead */
.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999;
}

.tt-menu {
  /* used to be tt-dropdown-menu in older versions */
  width: 422px;
  margin-top: 4px;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor,
.tt-suggestion:hover {
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion p {
  margin: 0;
} */


