html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#main {
  padding: 50px 200px;
}

li {
  font-size: 20px;
  padding: 10px 5px;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -30px;
}

.push,
.footer {
  height: 80px;
}

.footer {
  text-align: center;
  padding: 3px;
  background-color: rgb(0, 0, 0);
  color: white;
}

.navbar-brand {
  margin-left: 30px;
}

.col {
  border: 3px solid grey;
}
