html,
body {
  height: 100%;
  margin: 0;
}

h3 {
  font-family: "Lobster", cursive;
}

nav {
  background-color: teal;
}

.wrapper {
  /* min-height: calc(100vh - 136px); */
  padding: 40px 3%;
}

.footer {
  height: 80px;
  text-align: center;
  padding: 3px;
  background-color: teal;
  color: white;
}

.navbar-brand {
  margin-left: 100px;
  font-family: "Lobster", cursive;
  font-size: 24px;
}

.cards {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  vertical-align: center;
  align-items: center;
  text-align: center;
  border-radius: 13px;
  width: 95%;
}

.loginbox {
  vertical-align: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 13px;
  border: teal 3px solid;
  max-width: 40%;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 100px 0px;
}

@media (max-width: 750px) {
  .loginbox {
    max-width: 80%;
  }
}

.col {
  background-color: rgb(139, 222, 224);
  border-radius: 13px;
  margin: 15px;
  padding: 20px;
}

.deletebtn {
  margin-left: 20px;
}

.btn-primary {
  margin-top: 10px;
}

.logoutbtn {
  width: 80px;
}
