/* //global style */
body {
  background-color: #fff;
  background-image: url();
  background-position: top center;
  background-repeat: no-repeat;
  color: #84878d;
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
}

/* ========= text ========= */
body {
  font-family: "Open Sans", sans-serif;
}

h2 {
  color: #000;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin: 30px 0px;
}

h2 b {
  color: #ffc000;
}

h2::after {
  content: "";
  width: 100px;
  position: absolute;
  margin: 0 auto;
  height: 4px;
  background: rgba(0, 0, 0, 0.2);
  left: 0;
  right: 0;
  bottom: -20px;
}

/* ========= Nav bar ========= */
.container1 {
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}


.container::before, .container::after {
  content: " ";
  display: table;
}

.container::after {
  clear: both;
}

#navbar7 {
  width: 350px;
  color: #000;
}

.search{
  display:block;
  text-align:left;
  width: 70%;
  margin-right: 20%;
}

.form-control {
  width: 40vw;
}

/* Div */
.row {
  height: 420px;
}

/* ========= Carousel =========  */
.carousel-nav-icon {
  height: 48px;
  width: 15px;
}

a {
color: #ffbe08;
}

.text-left {
text-align: center!important;
margin-left: 70px;
}

.bg-dark {
  background-color: #ffbe08!important;
}

.main-content .container {
  background: rgb(236, 236, 236);
  border-radius: 5px;
  padding: 30px; }

/* Carousel */
.carousel {
  margin: 50px auto;
  padding: 0 40px;
}
.carousel .carousel-item {
  /* min-height: 330px; */
  text-align: center;
  overflow: hidden;
}
.carousel .carousel-item .img-box {
  height: 200px;
  width: 100%;
  position: relative;
}
.carousel .carousel-item img {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.carousel .carousel-item h4 {
  font-size: 18px;
  margin: 10px 0;
}
.carousel .carousel-item .btn {
  color: #333;
  border-radius: 0;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  background: none;
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin-top: 5px;
  line-height: 16px;
}

.carousel .carousel-item .btn:hover, .carousel .carousel-item .btn:focus {
  color: #fff;
  background: #ffbe08;
  border-color: #ffbe08;
  box-shadow: none;
}
.carousel .carousel-item .btn i {
  font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
}
.carousel .thumb-wrapper {
  text-align: center;
}
.carousel .thumb-content {
  padding: 15px;
}

.carousel-control-prev,
.carousel-control-next {
  height: 80px;
  width: 40px;
  background: none;
  margin: auto 0;
  /* background: rgba(0, 0, 0, 0.2); */
}


.carousel-control-prev i, .carousel-control-next i {
  font-size: 30px;
  position: absolute;
  top: 50%;
  display: inline-block;
  margin: -16px 0 0 0;
  z-index: 5;
  left: 0;
  right: 0;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  font-weight: bold;
}
.carousel-control-prev i {
  margin-left: -3px;
}
.carousel-control-next i {
  margin-right: -3px;
}
.carousel .movie-date {
  font-size: 13px;
  padding: 2px 0;
}
.carousel .movie-date strike {
  color: #999;
  margin-right: 5px;
}
.carousel .movie-date span {
  color: #86bd57;
  font-size: 110%;
}
.carousel .carousel-indicators {
  bottom: -50px;
}

.carousel-indicators li, .carousel-indicators li.active {
  width: 10px;
  height: 10px;
  margin: 4px;
  border-radius: 50%;
  border-color: transparent;
  border: none;
}
.carousel-indicators li {
  background: #ffbe08;
}
.carousel-indicators li.active {
  background: rgba(0, 0, 0, 0.6);
}
.star-rating li {
  padding: 0;
}
.star-rating i {
  font-size: 14px;
  color: #ffc000;
}

/* ========= Footer ========= */
#footer {
  background: #ffbe08;
  padding-top: 20px;
  padding-bottom: 20px;
}

#footer .socials-media {
  width: 100%;
}

#footer .socials-media ul {
  display: inline-block;
  float: none;
  margin: 0 0 20px 0;
}

#footer .socials-media ul li {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

#footer .socials-media ul li a {
  font-size: 35px;
  color: #fff;
  letter-spacing: 0.1em;
  font-weight: 500;
  background: transparent;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out 0s;
}

#footer .socials-media ul li a:hover {
  color: rgb(141, 141, 141);
  transition: all 0.5s ease-in-out 0s;
}


/* typeahead */
.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999;
}

.tt-menu {
  width: 40vw;
  margin-top: 4px;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
}

.tt-suggestion:hover {
  color: #fff;
  background-color: #0097cf;
  overflow: hidden;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
  overflow: hidden;
}

.tt-suggestion p {
  margin: 0;
}

.tt-selectable {
  width: 40vw;
  border-radius: 4px;
  position: relative;
  left: 14px;
}

.tt-selectable h5 {
  font-size: 16px;
}
