html,
body {
  height: 100%;
  margin: 0;
  /* background-image: url("windows-SwHvzwEzCfA-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#wrapper {
  min-height: calc(100vh - 136px);
  padding: 40px 3%;
}

.footer {
  height: 80px;
  text-align: center;
  padding: 3px;
  background-color: rgb(0, 0, 0);
  color: white;
}

.navbar-brand {
  margin-left: 100px;
}

.cards {
  /* border: 1px solid black; */
  padding: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  vertical-align: center;
  align-items: center;
  text-align: center;
  background-color: #f7efac;
  border-radius: 13px;
  width: 95%;
}

.col {
  background-color: rgb(139, 222, 224);
  /* border: 3px solid black; */
  border-radius: 13px;
  margin: 10px;
  padding: 20px;
}

.deletebtn {
  margin-left: 20px;
}

.btn-primary {
  margin-top: 10px;
}
