.watchlist-container {
  min-height: 93vh;
}

.watchlist_card {
  background-color: #f5f5f5c5;
  border-radius: 20px;
  padding: 25px;
  margin: 20px;
  box-shadow: 2px 2px 2px 0px rgb(0 0 0 / 50%);
}

.movie-info p {
  margin-top: 5px;
  margin-left: 20px;
  color: black;
}

.movie-link a {
  font-size: 20px;
  margin-top: 30px;
  color: #0056b3;
}

.poster-container {
  position: relative;
}

.watchlist-del-btn {
  color: #333;
  border-radius: 3px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  background: none;
  border: 1px solid #ccc;
  padding: 7px 61px;
  margin-top: 10px;
  line-height: 16px;
  background-color: #7575752d;
}

.watchlist-del-btn:hover {
  color: #fff;
  background: #ffbe08;
  border-color: #ffbe08;
  box-shadow: none;
}

.fa-star {
  color: #ffc000;
}
