.watchlist_card {
  background-color: #f5f5f5c5;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
}

.movie-info p {
  margin-top: 10px;
}

.movie-link {
  font-size: 20px;
  margin-top: 30px;
}

.poster-container {
  position: relative;
}

.hidden {
  display: none;
}

.watchlist-liked-btn {
  position: absolute;
  top: 5px;
  bottom: 0;
  left: 4px;
  right: 0;
  width: 50px;
  height: 50px;
  border: none;
  background-color: #84878d;
  opacity: 0.9;
}

.watchlist-liked-btn i {
  font-size: 30px;
  color: #ffc000;
}

.watchlist-add-btn {
  position: absolute;
  top: 5px;
  bottom: 0;
  left: 4px;
  right: 0;
  width: 50px;
  height: 50px;
  border: none;
  background-color: #84878d;
  opacity: 0.9;
}

.watchlist-add-btn i {
  font-size: 30px;
  color: #ffc000;
}
