.watchlist-container {
  min-height: 93vh;
}

.watchlist_card {
  background-color: #f5f5f5c5;
  border-radius: 20px;
  padding: 25px;
  margin: 20px;
  box-shadow: 2px 2px 2px 0px rgb(0 0 0 / 50%);
}

.movie-info p {
  margin-top: 5px;
  margin-left: 20px;
  color: black;
}

.movie-link a {
  font-size: 20px;
  margin-top: 30px;
  color: #0056b3;
}

.poster-container {
  position: relative;
}
/* 
.hidden {
  display: none;
} */

.watchlist-del-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border: none;
  /* background-color: black; */
  background-color: #ffbe08;
  /* opacity: 0.8; */
  /* border: #ffc000 2px solid; */
}

.watchlist-del-btn i {
  font-size: 30px;
  /* color: #ffc000; */
  color: white;
}

.fa-star {
  color: #ffc000;
}

/* .watchlist-liked-btn {
  position: absolute;
  top: 5px;
  bottom: 0;
  left: 4px;
  right: 0;
  width: 50px;
  height: 50px;
  border: none;
  background-color: #84878d;
  opacity: 0.9;
}

.watchlist-liked-btn i {
  font-size: 30px;
  color: #ffc000;
} */

/* .watchlist-add-btn {
  position: absolute;
  top: 5px;
  bottom: 0;
  left: 4px;
  right: 0;
  width: 50px;
  height: 50px;
  border: none;
  background-color: #84878d;
  opacity: 0.9;
}

.watchlist-add-btn i {
  font-size: 30px;
  color: #ffc000;
} */
