.watchlist-container {
  min-height: 85vh;
}

.watchlist_card {
  background-color: white;
  border-radius: 20px;
  padding: 25px;
  margin: 20px;
}

.movie-info p {
  margin-top: 5px;
  color: black;
  font-size: 18px;
}

.movie-link a {
  font-size: 22px;
  margin-top: 30px;
  color: #0056b3;
}

.poster-container {
  position: relative;
}

.watchlist_poster {
  border-radius: 3px;
}

.watchlist-del-btn {
  color: white;
  border-radius: 3px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  background: #dc3545 !important;
  border: 1px solid #ccc;
  padding: 7px 45px;
  margin-top: 10px;
  line-height: 16px;
  background-color: #7575752d;
  cursor: pointer;
}

.watchlist-del-btn:hover {
  color: #fff;
  background: #dc3546bb !important;
}

.index-watchlist-success-style {
  background: #28a745 !important;
  color: #fff !important;
  border-radius: 3px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  background: none;
  border: 1px solid #ccc;
  padding: 7px 46px !important;
  margin-top: 10px;
  line-height: 16px;
  background-color: #7575752d;
}

.index-watchlist-success-style i {
  margin-left: 5px;
}

.index-watchlist-success-style:hover {
  color: #000;
  background: #ccc !important;
  border-color: #ccc !important;
  box-shadow: none;
}

.search-watchlist-success-style {
  background: #28a745 !important;
  color: #fff !important;
  border-radius: 3px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  background: none;
  border: 1px solid #ccc;
  padding: 7px 30px;
  margin-top: 10px;
  line-height: 16px;
  background-color: #7575752d;
}

.search-watchlist-success-style i {
  margin-left: 5px;
}

.search-watchlist-success-style:hover {
  color: #000;
  background: #ccc !important;
  border-color: #ccc !important;
  box-shadow: none;
}

.review-watchlist-success-style {
  background: #28a745 !important;
  color: #fff !important;
  border-radius: 3px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  background: none;
  border: 1px solid #ccc;
  padding: 7px 30px;
  margin-top: 10px;
  line-height: 16px;
  background-color: #7575752d;
}

.review-watchlist-success-style i {
  margin-left: 5px;
}

.review-watchlist-success-style:hover {
  color: #000;
  background: #ccc !important;
  border-color: #ccc !important;
  box-shadow: none;
}

.fa-star {
  color: #ffc000;
}
